body {
  background: #f0f2f5;
  font-family: Arial, sans-serif;
}

.app {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

section {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.sugerencia {
  border: 2px solid #0077ff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.reset {
  background: red;
  color: white;
  padding: 10px;
}
